<meta charset="UTF-8">
<title>{% if page.firstname %}{{ page.firstname}} {{ page.lastname }} - {% endif %}{{ site.title }}</title>
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

<link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css">
<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
<script src="https://kit.fontawesome.com/7dc3015a44.js" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="google-site-verification" content="9VRiAvW3q4tJtvCWjAlA6WBT9Zj5a_8QcDDAawhzaN0" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/img/apple-touch-icon.png" | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/img/favicon-32x32.png" | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/img/favicon-16x16.png" | relative_url }}">
<link rel="manifest" href="{{ "/assets/site.webmanifest" | relative_url }}">