<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered has-text-centered-mobile">
        <div class="column is-1">
          <img src="{{ "/assets/img/android-chrome-192x192.png" | relative_url }}" alt="logo" class="logo">
        </div>
        <div class="column is-8">
          <h1 class="title">Get Advice</h1>
          <h2 class="subtitle">One-on-one consultancy calls with tech and entrepreneur people for advice</h2>
        </div>
      </div>
    </div>
  </div>
</section>