<ol>
    <li>You schedule a call with a volunteer</li>
    <li>While scheduling the call or getting contacted by the volunteer <strong>you need to state in no less than 250 characters, what the meeting will be about</strong>.<br><small>This helps us to ensure that you are committed to it.</small></li>
    <li>If the volunteer accepts the meeting she/he will send you a confirmation email.</li>
    <li>If you don't receive a confirmation email from the volunteer, the call will not take place.</li>
</ol>
<img src="{{ "/assets/img/meeting-workflow.svg" | relative_url }}" alt="GetAdvice Meeting Workflow"> 