<div class="card">
  <div class="card-content">
    
    <div class="media">
      
      <div class="media-left">
        <figure class="image is-64x64 center">
          <a href="{{ post.permalink }}"><img class="is-rounded" src="{{ post.pic_url }}"></a>
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-6 is-size-4">
          <a href="{{ post.permalink }}">{{ post.firstname | capitalize }} {{ post.lastname | capitalize }}</a>
        </p>
        <p class="subtitle is-6">
          <ul class="taglist">
            {% assign user_categories = post.categories | sort_natural %}
            {% for category in user_categories %}
              <li>{{ category | capitalize }}</li>
            {% endfor %}
          </ul>
        </p>
        <section class="lang">
          <p class="lang"><span class="icon"><i class="fas fa-microphone-alt fa-lg"></i></span>
            {% assign user_lang = post.lang | sort_natural %}
            {% for lang in user_lang %}
              {{ lang | capitalize}}{% if forloop.last %}{% else %},{% endif %}
            {% endfor %}
          </p>
        </section>
      </div>
      
    </div>
    <div class="content">
      
      <p><strong>About {{ post.firstname | capitalize }}</strong>: {{ post.about | truncatewords: 15}}<br><a href="{{ post.permalink }}" class="is-size-7 button is-text">see more</a></p>
      
      <p class="is-size-7 has-text-weight-bold">Knows about</p>
      
      <div class="tags">
        {% assign user_tags = post.tags | sort_natural %}
        {% for tag in user_tags %}
          <span class="tag is-info">{{ tag | capitalize }}</span>
        {% endfor %}
      </div>
      <p class="is-size-6 has-text-weight-bold"><span class="icon"><i class="fas fa-map-marker-alt"></i></span>{{ post.city | capitalize }}</p>
      
      <div class="buttons">
        <a href="{{ post.permalink }}" class="button is-danger is-rounded is-fullwidth">More about {{ post.firstname | truncate: 16 }}</a>
      </div>
    </div>
  </div>
</div>