<ul>
    <li>When scheduling the call or getting contacted by the volunteer be clear about what you need help with. <strong>You need to write down, in no less than 250 characters, what the meeting will be about.</strong></li>
    <li>If you don't write about what the meeting is about the volunteer can ignore the request and don't show up for the meeting. <br><small>This helps us to ensure that you are committed to it.</small></li>
    <li>Arrive on time for the meeting.</li>
    <li>If you can't make it to the meeting, please let the volunteer know it in advance.</li>
    <li>Be polite.</li>
    <li>Try to be prepared before the call and, if possible, have a list of questions that you want to ask.</li>
    <li>Volunteers can reject a call.</li>
    <li>A call with a stranger can be intimidated at first, volunteers will do their best to make you feel comfortable during the call.</li>
    <li>If you have a bad experience please <a href="/adriano.galello.html">contact me</a></li>
    <li>If you have a great experience share it with friends or leave a message in our <a href="https://t.me/getadvice">telegram channel and group</a></li>
</ul>