<ul>
    <li>Either in your calender or when contacting the other person via email make sure she/he states what he need help with.</li>
    <li>Let the other person know that you are going to attend the meeting.</li>
    <li>You can reject/leave the call if you want. Ex.:</li>
    <ul>
        <li>You think you won't be able to help the other person with his questions.</li>
        <li>You won't be available. (try to avoid this as much as possible ☺️)</li>
        <li>The other person didn't get in touch after scheduling the meeting.</li>
        <li>You believe the other person is trying to solve a problem for a company (they could pay for that, suggest it if you want).</li>
        <li>The other person is being rude (make sure to <a href="/adriano.galello.html">contact me</a> about this).</li>
    </ul>
    <li>Arrive on time for the meeting.</li>
    <li>Be polite.</li>
    <li>Be patient.</li>
    <li>Listen.</li>
</ul>