<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand is-size-2">
          <a href="/" class="navbar-item">Get Advice</a>
        </div>
        
    </div>
  </nav>
  {{ content }}
  <footer class="footer">
    <div class="columns has-text-grey-darker has-text-centered">
      <div class="column is-4 is-size-4"><a href="/">List of volunteers</a></div>
      <div class="column is-4 is-size-4"><a href="about.html">About this site</a></div>
      <div class="column is-4 is-size-4"><a href="join.html">Want to join?</a></div>
    </div>
  </footer>
  
  </body>
</html>