<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    
    {% if page.layout != 'home' %}
      
      <div class="container head">
        <div class="columns is-vcentered">
          <div class="column is-1 has-text-centered-mobile has-text-right">
            <a href="/"><img src="{{ "/assets/img/android-chrome-192x192.png" | relative_url }}" alt="logo" class="logo"></a>
          </div>
          <div class="column is-8 is-hidden-mobile">
            <h1 class="is-size-4"><a href="/">Get Advice</a></h1>
            <h2 class="is-size-7">One-on-one consultancy calls with tech and entrepreneur people for advice</h2>
          </div>
        </div>
        
      </div>
      
    {% endif %}
    {{ content }}

    <section class="section" style="background: #CCC">
      <div class="container content">
        <h3 class="is-size-3">How does it work?</h3>
      <p class="has-text-centered">
        <img src="{{ "/assets/img/meeting-workflow.svg" | relative_url }}" alt="GetAdvice Meeting Workflow"> 
      </p>
      </div>
    </section>
    <footer class="footer">
      <div class="columns has-text-grey-darker has-text-centered">
        <div class="column is-2 is-size-4"><a href="about.html">About GetAdvice</a></div>
        <div class="column is-3 is-size-4"><a href="rules-and-conditions.html">Rules and Conditions</a></div>
        <div class="column is-2 is-size-4"><a href="join.html">Want to join?</a></div>
        <div class="column is-3 is-size-4"><a href="/">List of volunteers</a></div>
        <div class="column is-2 is-size-4"><a href="https://t.me/getadvice" target="_blank"><span class="icon"><i class="fab fa-telegram"></i></span> <span>Telegram Channel</span></a></div>
      </div>
    </footer>

    <script type="text/javascript">
      navigator.serviceWorker.getRegistrations().then(function(registrations) {
       for(let registration of registrations) {
        registration.unregister()
      } });
    </script>
    
  </body>

</html>